
<div id="<%= dom_id property %>" class="col">
    <div class="card d-flex justify-content-center" style="width: 18rem; height: 500px">
  <%= link_to property_property_applications_path(property) do %>
      <%= cl_image_tag property.photo.key, width:300, class:"card-img-top"%>
      <div class="card-body">
        <h5 class="card-title"><%= property.number %>, <%= property.street %></h5>
        <p class="card-text"><%= property.town %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">£ <%= property.price_per_month %> pcm</li>
        <% date = property.availability_date < DateTime.now ? " Immediately" : property.availability_date.strftime("%d of %B, %Y")%>
        <li class="list-group-item">Available on  <%= date %></li>
        <li class="list-group-item"><%= property.postcode %></li>
      </ul>
      <div class="card-body edit-delete-icons">
        <%# <%= link_to "", property_property_applications_path(property), class:"fa-solid fa-location-arrow" %>
        <%= link_to "", edit_property_path(property), class:"fa-solid fa-pen-to-square","data-bs-toggle": "tooltip", title: "Edit" %>
        <%= link_to "", property_path(property), class:"fa-solid fa-trash",  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, "data-bs-toggle": "tooltip", title: "Delete" %>
      </div>
  <% end %>
    </div>
</div>
