<div id="<%= dom_id property %>">
  <p>
    <strong>Number:</strong>
    <%= property.number %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= property.street %>
  </p>
  <p>
    <strong>Town:</strong>
    <%= property.town %>
  </p>
  <p>
    <strong>Postcode:</strong>
    <%= property.postcode %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= property.price_per_month %>
  </p>
  <p>
    <strong>Availability Date:</strong>
    <%= property.availability_date %>
  </p>

</div>
