<div class="container index-titles my-5">
  <h1>Welcome Back, <%= current_user.first_name %></h1>
</div>


<div class="text-center my-3 asset-banner">
    <h2> Property Listings Dashboard </h2>
    <p> You have <%= @properties.count%> listings </p>
    <%# <%= link_to "New property", new_property_path %>
</div>

<div class="d-flex justify-content-end">
  <div class="my-3" style="margin-right: 35px">
    <a href="<%= new_property_path %>" class= "">
     <strong> + New property <strong>
    </a>
  </div>
</div>


  <div class="dashboard  container d-flex justify-content-center my-5" >
    <div class="card-group">
      <% @properties.each do |property| %>
          <%= render property %>
          <% property_applications = property.property_applications %>
          <%# if theyre a tenant, ovveride the property_applications %>
          <%# <%property_applications = property_applications.where(user: current_user) if current_user.tenant? %>
          <%# Loop through and display each application %>
          <%# <% property.property_applications.where(user: current_user).each do |pa| %>
            <%# <%= render 'property_applications/property_application', property_application: pa %>
          <%# <% end %>
        <% end %>
    </div>
  </div>




<%# dashboard container d-flex justify-content-center my-5 %>
