<div>
  <h1>Welcome Back, <%= current_user.first_name %></h1>
</div>
<div>
  <h1> Property Listings Dashboard </h1>
  <div>
    <%= link_to "New property", new_property_path %>
  </div>
  <div>
    <div class="card-group">
      <% @my_properties.each do |property| %>
          <%= render property %>
          <% property_applications = property.property_applications %>
          <%# if theyre a tenant, ovveride the property_applications %>
          <%property_applications = property_applications.where(user: current_user) if current_user.tenant? %>
          <%# Loop through and display each application %>
          <%= property.property_applications.where(user: current_user).each do |pa| %>
            <%= render 'property_applications/property_application', property_application: pa %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
