<div class="hero-container">
  <div class="content">
    <div>
      <h1> <strong>Your digital platform for renting property.</strong> </h1>
      <h4> Remove all the hassle in your next property move</h4>
    </div>
    <div class="btn-wrap d-flex justify-content-between align-items-center rounded-5">
    <%# <% user_is_landlord = current_user == @property.user %>
      <% if current_user && current_user.agent%>
      <%= link_to "Agent Dashboard", properties_path, class: "btn btn-lg btn-primary btn-banner m-0"%>
      <% elsif current_user && current_user.tenant%>
      <%= link_to "Tenant Dashboard",  my_applications_path, class: "btn btn-lg btn-primary btn-banner m-0" %>
      <% else%>
      <%= link_to "Sign In", user_session_path, class: "btn btn-lg btn-primary btn-banner m-0"  %>
      <% end %>
    </div>
  </div>
</div>
<%# About Section %>
  <section class="about_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="https://res.cloudinary.com/dcu7y5wnn/image/upload/v1688992121/prop_f0tral.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6 detail">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                ABOUT US
              </h2>
            </div>
            <p>
              Renteaze is your easy to use, free, cloud-based property management software. Key features like vetting, documentation, progress monitoring and much more on your fingertips.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- process section -->

  <section class="process_section">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          HOW DOES IT<span> WORK?</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="detail-box">
              <h4>
                <i class="fa-solid fa-user"></i> Register
              </h4>
              <p>
                If you have been seen a property then you can sign up as an applicant to start the process.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="detail-box">
              <h4>
                <i class="fa-solid fa-file"></i> Upload Document
              </h4>
              <p>
                Provide all the required documents in an guided step by step process.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="detail-box">
              <h4>
                <i class="fa-solid fa-house"></i> Move In
              </h4>
              <p>
                Once your documents have been approved a lease will be release to your eletronically and you are able to organise a move in date.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end process section -->

  <!-- team section -->

  <section class="team_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          The <span>Team</span>
        </h2>
      </div>
        <div class="row">
          <div class="col-10 col-lg-3 box">
            <div class="img-box">
              <img src="https://ca.slack-edge.com/T02NE0241-U053UFMSF9T-4f4eabbb4c23-512" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Russell Hallowes-Smith
              </h5>
              <h6>
                Developer
              </h6>
            </div>
          </div>


          <div class="col-10 col-lg-3 box">
            <div class="img-box">
              <img src="https://ca.slack-edge.com/T02NE0241-U054H76DJC8-de8634104c24-512" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Victor Isopescu
              </h5>
              <h6>
                Developer
              </h6>
            </div>
          </div>

          <div class="col-10 col-lg-3 box">
            <div class="img-box">
              <img src="https://ca.slack-edge.com/T02NE0241-U054EPJKPBN-4d2183a3ee39-512" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Clement Carr
              </h5>
              <h6>
                Developer
              </h6>
            </div>
          </div>

          <div class="col-10 col-lg-3 box">
            <div class="img-box">
              <img src="https://ca.slack-edge.com/T02NE0241-U054RMVCWKT-0b9698da4278-512" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Yen-Tung-Chen
              </h5>
              <h6>
                Developer
              </h6>
            </div>
          </div>
        </div>
    </div>
  </section>

  <!-- end team section -->


  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span>Testimonial</span>
        </h2>
      </div>
    </div>
    <div class="container px-0">
      <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    Margold Palmer
                  </h5>
                  <h6>
                    Dec 2022
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                "I recently had the pleasure of using Renteaze, and I must say it exceeded my expectations. From start to finish, the experience was seamless and efficient. The platform's user-friendly interface made searching for properties a breeze. The extensive database offered a wide range of options, ensuring I found the perfect rental that met my needs. The reliable and responsive customer support team was always available to address any queries promptly. Thanks to Renteaze, I found my dream home hassle-free. Highly recommended!"
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    James Bryant
                  </h5>
                  <h6>
                    Feb 2023
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                "I can't express enough how impressed I am with Renteaze Property Rental website. The ease of use is simply outstanding. Navigating through the platform was a delight, with intuitive search filters and a seamless booking process. I found the property I desired in no time, thanks to the user-friendly interface that made the whole experience effortless. Renteaze has truly mastered the art of simplifying property rentals. Whether you're a seasoned tenant or a first-time renter, this website is a game-changer. I highly commend Renteaze for creating such an incredibly user-friendly platform."
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    Bradley Jones
                  </h5>
                  <h6>
                    Jan 2023
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                "I am thoroughly impressed with Renteaze Property Rental website. The coordination with the agents was seamless and efficient. From initial inquiry to property viewing, the process was well-coordinated and hassle-free. The agents were professional, responsive, and guided me every step of the way. It was a breath of fresh air to experience such excellent communication and teamwork. Renteaze truly understands the importance of a smooth agent-tenant interaction. I highly recommend their services for a stress-free and enjoyable rental experience."
              </p>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end client section -->

<%= render "pages/buttontrial" %>
<%= render "pages/footer" %>
