<div class="asset-banner my-5">
  <%# this section to stylise header %>
  <% if @property.user == current_user %>
    <h1> Application Progress </h1>
    <p> See the latest position of <%=@property_application.user.first_name %>'s progress.</p>
  <% else %>
    <h1> Application References</h1>
    <p> Let's get to know you a little better, <%=@property_application.user.first_name %>.</p>
    <p> Please upload documentation requested for your property agent to progress your letting application.</p>
  <% end %>
</div>
<div class="asset-dashboard">
  <%# display grid or flex to reflect figma %>
  <div class="property-focus" style="margin-right: 20px;">
    <%# can this be full height 100%vh and sticky? %>
    <div class="card" style="width: 388px;">
      <%= link_to property_property_applications_path(property) do %>
        <%=cl_image_tag @property.photo.key, width:300, class:"card-img-top"%>
          <div class="card-body">
            <h5 class="card-title"><%= @property.number %>, <%= @property.street %></h5>
            <p class="card-text"><%= @property.town %></p>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= @property_application.user.first_name %> <%= @property_application.user.surname %></li>
              <li class="list-group-item">£<%= @property.price_per_month %> pcm</li>
              <li class="list-group-item"> Available on  <%= @property.availability_date.strftime("%d/%m/%Y") %></li>
              <li class="list-group-item"><%= @property.postcode %></li>
              <li class="list-group-item">12 month(s) only</li>
              <%# <li class="list-group-item">Back to Building<% a href= property_property_applications_path(property), class="btn btn-primary d-block mx-auto " style="width: 150px;"> "Back to building"</a> %>
            </ul>
      <% end %>
    </div>
</div>


  <div class="ll-dashboard-content d-flex" style="justify-content: flex-start;">
    <div class="card" style="width: 80%;">
      <p class="p-3">On receipt of the link your applicant will have the ability to upload the required documentation below. Once this has been successfully uploaded and you are satisfied with the content then please proceed to accept or decline to progress application.</p>
      <div class="list-group list-group-flush text-center">
        <p class="list-group-item"><%= link_to "Review Applicant Identification Documents",  property_application_identifications_path(params[:id]) %></p>
        <p class="list-group-item"><%= link_to "Review Applicant Employment Documents", property_application_employment_documents_path(@property_application.id) %></p>
        <p class="list-group-item"><%= link_to "Review Applicant Banking References",  property_application_bank_references_path(params[:id]) %></p>
        <% if current_user == @property.user %>
          <div class="d-flex justify-content-between mt-2 mb-4 mx-auto" style="width: 200px">
          <%= link_to "", accept_property_property_application_path(@property, @property_application), data: {turbo_method: :patch}, class:"fa-solid fa-check", "data-bs-toggle": "tooltip", title: "Accept"%>
          <%= link_to "", decline_property_property_application_path(@property, @property_application),   data: {turbo_method: :patch}, class:"fa-solid fa-ban", "data-bs-toggle": "tooltip", title: "Decline" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
