<div id="<%= dom_id property_application %>" class="card text-center mb-2">
  <div class="card-header">
    Applicant: <%= property_application.user.first_name %> <%= property_application.user.surname %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <% status = property_application.status.nil? ? "In Progress" : property_application.status %> <%= status %></h5>
     <div class="progress mb-2 mt-2">
      <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-success" role="progressbar" style="width: 33%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="card-text">Application commenced: <%= property_application.user.created_at %> </p>
    <p> Last activity: <%= property_application.user.updated_at %> </p>
    <%# <a href="#" class="btn btn-primary">Mark as Approved</a> %>
  </div>
  <div class="card-footer text-muted d-flex justify-content-center ">
    <%#= link_to "Show this property application", application %>
    <%= link_to "", property_application_path(property_application), class:"fa-solid fa-magnifying-glass mx-5"%>
    <%= link_to "", property_application_path(property_application),class:"fa-solid fa-trash mx-5", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %>
    <%= link_to "", property_application_path(property_application), class:"fa-solid fa-check mx-5" %>

    <% if property_application.status == "accepted" %>
      <%= link_to "Proceed with application", property_property_application_finalize_index_path(@property) %>
    <% end %>
  </div>
</div>
</div>
