<div id="<%= dom_id property_application %>">
  <div class="card" style="width: 18rem;">
  <%= cl_image_tag property.photo.key, width:300, class:"card-img-top"%>
  <div class="card-body">
    <h5 class="card-title"><%= property.number %>, <%= property.street %></h5>
    <p class="card-text"><%= property.town %></p>
  </div>

</div>
