<%# this section to stylise header %>
<div class="asset-banner-finalize">
  <div class="banner-image">
    <div class="banner-container">
      <div class="box m-2 p-2" >
        <p class= "center" style = "font-size: 14px; text-align: left;">Confirmed move-in date: </p>
        <p class= "center-description" style = "font-size:20px; text-align: left;"><strong><%= @property_application.move_in_date || ("TBD" if @property_application.move_in_date.nil?) %></strong></p>
        <p id= "address-title" class= "center" style = "font-size: 14px; text-align: left;">New address: </p>
        <p class= "center-description" style = "font-size:20px ;text-align: left;"><strong><%= @property_application.property.address %></strong></p>
      </div>
    </div>
  </div>
</div>

<% if current_user.tenant? %>
  <p style="text-align: center"> Almost there <%=current_user.first_name %> , confirm your move-in date with your landlord!</p>
<% else %>
  <p style="text-align: center"> Almost there, <%=current_user.first_name %>, confirm your move-in date with your tenant!</p>
<% end %>

<%# Responsive design, compatible for mobile and desktop %>
<div class="container">
  <div class="row">

    <%# chatbox section on the left hand side%>
    <div class = "d-flex justify-content-between">
      <div class="card-map col-12 col-lg-6">
        <div style= "margin-left: 20px; margin-top: 20px"><p><b>Chatbox</b></p></div>
            <%= render "property_application_finalize/chatbox", property_application: @property_application, message: @message %>
          </div>
        <%# flatpickr + geomap section on the right hand side %>
        <div class="col-12 col-lg-6">
          <%# flatpickr here for move-in date submission, apply confirm logic here for landlord %>
          <% if current_user.agent %>
          <div class = "d-flex justify-content-between">
            <div style = "width: 500px" >
                <%= simple_form_for(@property_application, url: set_move_in_property_application_path(@property_application) ) do |f| %>
                <%= f.error_notification %>
                <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <div class = "flatpickr_submit">
                <%= f.input :move_in_date, as: :string, input_html: { data: { controller: 'flatpickr' } }%>
                <div style= "margin-bottom: 15px">
                  <%= f.submit "Submit", class: "btn btn-primary"%>
                </div>
              </div>
                <% end %>
              </div>
            </div>
          <% end %>

          <%# geomap here %>
          <div>
            <div class = "card-map"
              style="width: 600px; height: 450px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              <%# passing api key here so we can use it in our JVscript controller %>
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
    </div>

  </div>
</div>
