<div>
  <h1> Applications at <%= @property.number%>, <%= @property.street%>, <%= @property.town %> </h1>
</div>
<div>
  <h1> Current Applications </h1>
  <div>
    <%= link_to "Create New Application",  new_property_property_application_path(@property) %>
  </div>
  <div>
    <div class="card-group">
    <% @property_applications.each do |property_applications| %>
      <%= render property_applications %>
      <%#= link_to "Show this property application", application %>
      <%#= link_to "Edit property application", property_application_path(application) %>
      <%#= link_to "Delete property application", property_application_path(application) %>
    <% end %>
    </div>
  </div>
</div>
