<div>
  <%# this section to stylise header %>
  <h1>Application Dashboard for #<%= @property_application.id %></h1>
</div>
<div class="asset-dashboard">
  <%# display grid or flex to reflect figma %>
  <div class="property-focus">
    <%# can this be full height 100%vh and sticky? %>
    <div class="card" style="width: 18rem;">
    <%= cl_image_tag @property.photo.key, width:300, class:"card-img-top"%>
      <div class="card-body">
        <h5 class="card-title"><%= @property.number %>, <%= @property.street %></h5>
        <p class="card-text"><%= @property.town %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @property_application.user.first_name %> <%= @property_application.user.surname %></li>
        <li class="list-group-item">£<%= @property.price_per_month %> pcm</li>
        <li class="list-group-item"><%= @property.availability_date %></li>
        <li class="list-group-item"><%= @property.postcode %></li>
        <li class="list-group-item">12 month(s) only</li>
      </ul>
    </div>
  </div>


  <div class="dashboard-content">
    <%= link_to "attach employment documents", new_property_application_employment_document_path(@property_application.id) %>
    <%= link_to "Upload Bank References",   new_property_application_bank_reference_path(params[:id]) %>
    <%= link_to "New Identification",  new_property_application_identification_path(params[:id]) %>
    <%= link_to "List of Identifications",  property_application_identifications_path(params[:id]) %>

    <%# Turbo Frame Testing %>

    <%# use this section for main body %>
    <%# <% if params[:step].nil? || params[:step] == 'identification' %>
      <%# <p>Identification form goes here</p> %>
      <%# <% if @identification.persisted? %>
        <%# <p>This step has been completed</p> %>
      <%# <% else %>
        <%# <p>This step has NOT been completed</p> %>
      <%# <% end %>
    <%# <% elsif params[:step] == 'bank_reference' %>
      <%# <p>BankReference form goes here</p>
      <% if @bank_reference.persisted? %>
        <%# <p>This step has been completed</p>
      <% else %>
        <%# <p>This step has NOT been completed</p> %>
      <%# <% end %>
    <%# <% elsif params[:step] == 'employment_document' %>
      <%# <p>BankReference form goes here</p> %>
      <%# <% if @employment_document.persisted? %>
        <%# <p>This step has been completed</p> %>
      <%# <% else %>
        <%# <p>This step has NOT been completed</p> %>
      <%# <% end %>
    <%# <% end %>
  </div>
</div>
