<h1>Edit Identification</h1>

<%= turbo_frame_tag dom_id(@bank_reference) do %>
  <div class="mb-3 frame">
    <div class="frame-content">
      <div class="text-content">
        <p><strong>ID Name:</strong> <%= @bank_reference.name %></p>
        <p><strong>Issue Date:</strong> <%= @bank_reference.issue_date.strftime("%d/%m/%Y") %></p>
        <p><strong>Expiry Date:</strong> <%= @bank_reference.expiration_date.strftime("%d/%m/%Y") %></p>
        <%= link_to "Delete", property_application_bank_references_path(@bank_reference), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>

          <%= render "form", identification: @bank_reference %>
          <%= link_to "Cancel", property_application_path(@identification.property_application) %>
      </div>
      <div class="image-content">
        <%= cl_image_tag(@bank_reference.pdf.key, :transformation=>[{:width=>350, :crop=>"scale"},
    {:fetch_format => :jpeg}
    ])%>
      </div>
    </div>
  </div>
<% end %>
