<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<h1>Identifications</h1>
  <div>
    <div class="card-group">
      <% @b_ref.each do |b_ref| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= b_ref.name %></h5>
          <p class="card-text">Issued on :<%= b_ref.issue_date.strftime("%d/%m/%Y") %></p>
          <p class="card-text">Expires on :<small class="text-muted"><%= b_ref.expiration_date %></small></p>
        </div>
        <%= cl_image_tag b_ref.pdf.key, class:"card-img-bottom" %>
        <%= link_to "Amend Bank Reference", edit_property_application_bank_reference_path(b_ref.property_application, b_ref.id), class:"card-link" %>
        <%#= link_to "Delete Bank Reference", property_path(b_ref), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
