<%# <h1>New Identification Form</h1>

<%= render "form", identifications: @identification %>

<%# <div> %>
  <%# <%= link_to "Back to Application", property_application_path(params[:property_application_id]) %> %>
<%# </div> %>

<main class="container">
  <%= link_to sanitize("&larr; Back to Dashboard"), property_application_path(params[:property_application_id]) %>

  <%= turbo_frame_tag "first_turbo_frame" do %>
  <h1>New Identification</h1>
    <%= render "form", identifications: @identification %>
  <% end %>
</main>
