<%# <%= <h1>New Identification Form</h1> %>

<%= render "form", identifications: @identification %>

<%# <div> %>
  <%# <%= link_to "Back to Application", property_application_path(params[:property_application_id]) %> %>
<%# </div> %>

<main class="container">
  <%= link_to sanitize("&larr; Back to Dashboard"), property_application_path(params[:property_application_id]) %>

  <%# <%= turbo_frame_tag "second_frame" do %>
  <div class="header">
    <h1>New Identification</h1>
  </div>

  <%= turbo_frame_tag "new_id" do %>
    <%= render "form", identifications: @identification %>
    <%= link_to 'Cancel', property_application_path(@application) %>
  <% end %>

  <%# NEW IDEA %>
    <%= turbo_frame_tag :application_step do %>
      <%= render 'property_applications/steps', current_step: 1, property_application: @application %>
      <%= render "form", identifications: @identification %>
      <%= link_to 'Cancel', tenant_index_property_application_identifications_path(@application) %>
    <% end %>
  <%# END NEW IDEA %>

</main>
